<section>
    <div class="card mat-card">
      <h3>Proyectos</h3>
      <br>
      <div id="proyectos" class="card-group w-50">
        <div class="card">
                <img src="/assets/Imagenes/Html.PNG" class="card-img-top" alt="HTML">
           <div class="card-body">
            <h4 class="card-title">Portfolio Web</h4>
            <p class="card-text">Trabajo final integrador para la etapa #YoProgramo del Programa Argentina Programa. Front End desarrollado con HTML, CSS, Bootstrap, TypeScript(JavaScript) y Angular. Back End desarrollado con JAVA, Spring boot y Apache Tomcat, para el web server. Data Base con MySQL.</p>
            <p class="card-text"><small class="text-muted">2022</small></p>
           </div> 
        </div>
      </div>
    </div>
  </section>
