<section>
    <div class="card mat-card">
      <h3>Educación</h3>
      <div class="row">
        <div class="col-md-auto">
          <img src="/assets/Imagenes/icons8-gorro-de-graduación-100.png" class="img-fluid rounded-start"
            alt="gorro de graduación">
        </div>
        <div class="col-md-auto">
          <div class="card-body">
            <h5 class="card-title">C.E.N.M.A. Santa Rosa de Calamuchita Anexo Villa General Belgrano</h5>
            <p class="card-text">Centro Educativo Nivel Medio para Adultos.</p>
            <p class="card-text"><small class="text-muted">2016</small></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <img src="/assets/Imagenes/Educacion IT logo.png" class="img-fluid rounded-start"
            width="100px" alt="EducaciónIT Logo">
        </div>
        <div class="col-md-auto">
          <div class="card-body">
            <h5 class="card-title">EducaciónIT</h5>
            <p class="card-text">Curso HTML5: Fundamentos Web.</p>
            <p class="card-text"><small class="text-muted">2021</small></p>
          </div>
        </div>
      </div>
    </div>
  </section>