<section id="skills">
    <div class="card mat-card">
      <h3>Hard Skills & Soft Skills</h3>
      <br>
      <ul>
        <li>
          <h4>Programación</h4>
          <br>
          <div class="skill-bars">
            <div class="bar">
              <div class="info">
                <span>HTML</span>
              </div>
              <div class="progress-line html">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>CSS</span>
              </div>
              <div class="progress-line css">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>JavaScript</span>
              </div>
              <div class="progress-line javascript">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span>TypeScript</span>
              </div>
              <div class="progress-line typescript">
                <span></span>
              </div>
            </div>
          </div>
        </li>
        <br>
        <li>
          <h4>Idiomas</h4>
          <br>
          <div class="skill-bars">
            <div class="bar">
              <div class="info">
                <span>Inglés</span>
              </div>
              <div class="progress-line ingles">
                <span></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
